@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

* {
	scrollbar-color: initial !important;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background: #ffffff4d;
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

.input {
	width: 100%;
}

.input:focus {
	outline: 0;
}

.input:focus-within {
	outline: 0;
}
